.app {
   width: 100vh;
   height: 100%;
   margin: 5px;
   padding: 5px;
   background-color: lightgray;
    

}

@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
}

.homepage {
    flex-direction: column;
}